<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photogur</title>
</head>
<body>
    <h1>Photogur Part 1</h1>
    <ul>
        {% for picture in pictures %}
        <li>
            <h3>{{ picture.title }}</h3>
            <img src="{{ picture.url }}" alt="">
            <p>{{ picture.artist }}</p>
            <p> 
                {{ picture.comments }} Comments
            </p>
        </li>
        {% endfor %}

    </ul>
</body>
</html>